
- @page_title = "Edit Cash/Bank Account"

- content_for :links do
  %ul.breadcrumbs.span6
    %li #{link_to 'Cuentas bancarias', cashes_path}
    %li
      %i.icon-caret-right
    %li #{link_to @cash, @cash}
    %li
      %i.icon-caret-right
    %li
      Editar

.row-fluid
  .span6.r
    = link_to icon_show_text, @cash, class: 'btn'

= render "cashes/form"
