<% # @param f form object 
   # @param @order order object %>

<div class="row-fluid">
  <div class="span6 contact autocomp">
    <% if ['new', 'create'].include?(action_name) %>
      <%= f.select :contact_id, options_from_collection_for_select(Contact.all, :id, :name, @order.contact_id), required:false, help: "Only new record" %>
    <% else %>
      <label><%= t('general.contact') %></label>
      <%= @order.contact.name %>
    <% end %>
  </div>
  <div class="span3">
    <%= f.datetime_field :date, label: "Order Datetime:" %>
  </div>
</div>
