<div id="dialog">
  <h1>Revisa tu correo</h1>

  <p>
    Se le ha reenviado de nuevo las instrucciones de confirmación a su correo por favor revise la Address de correo 
    <%= @user.email %>
    incluyendo el folder de 
    <strong>spam</strong>
  </p>
</div>
