- content_for :links do
  %ul.breadcrumbs
    %li
      &nbsp;

%h1 入出庫伝票の一覧


= render 'search', date_range: @date_range

- paginate_html = paginate @inventories

= paginate_html

%ul.listing.unstyled
  = render @inventories


= paginate_html
