
- @page_title = "購買入庫"

- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to @inv.store, @inv.store
    %li
      %i.icon-caret-right
    %li
      Ingreso de items

.row-fluid
  .span12
    %h4.text-success
      Recoger mecadería egreso

= render 'form'
