<div id="change-default-password" class="alert alert-warning">
  <h4 class="n">
    We recommend changing your password,
    <%= link_to "click here", new_default_user_passwords_path %>
  </h4>
</div>
