
<% @page_title = "Edit contact_account" %>

<%= bootstrap_form_with model: @contact_account, url:{action:"update", id:@contact_account},
                        layout: :horizontal do |f| %>
  <%= render partial: "form", locals:{f:f} %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

