<h1>Editar contact_account</h1>

<%= render :partial => "_form" %>

<%= link_to "Lista", contact_account_path(@contact_account), :class => 'edit' %>
<%= link_to "Lista", contact_accounts_path, :class => 'list' %>
