<h1>Editar transfer_request</h1>

<%= render :partial => "_form" %>

<%= link_to "Lista", transfer_request_path(@transfer_request), :class => 'edit' %>
<%= link_to "Lista", transfer_requests_path, :class => 'list' %>
