<h1>Editar item_accounting</h1>

<%= render :partial => "_form" %>

<%= link_to "Lista", item_accounting_path(@item_accounting), :class => 'edit' %>
<%= link_to "Lista", item_accountings_path, :class => 'list' %>
