@import "colors";

@import "plugins/buttons";

/* Fonts */
@import "fonts/fontello-embedded";

@import "jqplugins/select2";
@import "jqplugins/select2-bootstrap";

@import "plugins/jquery.minicolors";
@import "plugins/joyride";
@import "plugins/icons";

@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-responsive";
@import "bootstrap/bootstrap-notify";

@import "components/compass_compatibility";
@import "components/buttons";
@import "components/pagination";
@import "components/flash";
@import "components/forms";
@import "components/labels";
@import "components/links";
@import "components/table";
@import "components/listing";
@import "components/ui";
@import "components/tags";
@import "components/browser";

@import "sections/attachments";
@import "sections/zurbmenu";
@import "sections/login";
@import "sections/header";
@import "sections/menu";
@import "sections/history";
@import "sections/movement";
@import "sections/ledger";

@import "components/overrides";

@import "clases";
@import "base";

// Import Action Text
@import "trix";
@import "@rails/actiontext";