- content_for :links do
  %ul.breadcrumbs.span6
    %li #{link_to 'Expenses', expenses_path}
    %li
      %i.icon-caret-right
    %li
      %span New Expense

  %ul.breadcrumbs.r
    %a#expenses-help-link.dark(href='javascript:;')
      %i.icon-question-sign
      Help


- exp_presenter = present @es.expense
%h1
  %span.muted.n New Expense
  %span.code(title='Código egreso: Egreso-Año-Número' data-toggle='tooltip')= @es.expense
  %small.state(title='Status' data-toggle='tooltip')= exp_presenter.state_tag

= render 'expenses/form', expense_service: @es
