<style>
  #links{ display: none; }
</style>

<h3 class="n">
  Se le acaba de enviar a su email
  <span class="b"><%= @user.email %></span>
  con instrucciones para poder recuperar su contraseña
</h3>
