<h3>
  Por favor actualize su navegador
  <br>
  Le recomendamos
</h3>

<ul class="unstyled inline fs120">
  <li>
    <a href='https://www.google.com/intl/es/chrome/browser/?hl=es' target='_blank'>
      <div class="browser google"></div>
    </a>
    <br>
    <a class="b" href='https://www.google.com/intl/es/chrome/browser/?hl=es' target='_blank'>Google chrome</a>
  </li>
  <li>
    <a href='http://www.mozilla.org/es-ES/firefox/new/' target='_blank'>
      <div class="browser firefox"></div>
    </a>
    <br>
    <a class="b" href='http://www.mozilla.org/es-ES/firefox/new/' target='_blank'>Firefox</a>
  </li>
</ul>
