
<% # @param form the form 
  %>

<span class="muted b">Start:</span>
<%= form.date_field :date_start %>

<span class="muted b">End:</span>
<%= form.date_field :date_end %>

Item:
<%= form.select :item_id,
        options_from_collection_for_select(Item.all, :id, :name, form.object.item_id),
        include_blank: "(All items)" %>

Store:
<%= form.select :store_id,
        options_from_collection_for_select(Store.all, :id, :name, form.object.store_id),
        include_blank: "(All stores)" %>


<script type="text/javascript">
  $(function() {
    $('#date_start_picker').datepicker({
      yearRange: '1900:',
      showOn: 'both',
      altFormat: 'yy-mm-dd',
      altField: $('#date_start')
    });
    $('#date_end_picker').datepicker({
      yearRange: '1900:',
      showOn: 'both',
      altFormat: 'yy-mm-dd',
      altField: $('#date_end')
    });
  });
</script>
