
<% flash.each do |name, msg|
     fla_class = case name.to_s
                 # std
                 when 'alert'; "alert-danger"
                 when 'notice'; "alert-success"
                 else raise("internal error")
                 end
  %>
<div class="alert <%= fla_class %> alert-dismissible fade show" role="alert">
  <%= msg %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>
